In [1]:
import pandas as pd

In [3]:
employee=pd.read_csv('/content/Employee.csv')

In [4]:
employee.head(5)

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
0,1,Ajay,50000,400057,MAHARASHTRA,9949789567,ajay.mujella@pharmaace.com
1,2,Yogesh,40000,400057,MAHARASHTRA,8827647040,yogesh.tiwari@pharmaace.com
2,3,Shivam,62457,411057,MAHARASHTRA,7018322428,shivam.sinha@pharmaace.com
3,4,Santosh,60000,40057,Madhya Pradesh,9712945175,santosh.parmar@pharmaace.com
4,5,Srinidhi,45000,507123,telangana,9441793811,srinidhi.pachipala@pharmaace.com

In [5]:
employee['salary'].dtype

dtype('int64')

In [6]:
employee.dtypes

Emp_Id       int64
Emp_Name    object
salary       int64
zip          int64
State       object
Mobile       int64
Email       object
dtype: object

In [10]:
employee.columns

Index(['Emp_Id', 'Emp_Name', 'salary', 'zip', 'State', 'Mobile', 'Email'], dtype='object')

In [11]:
employee.axes

[RangeIndex(start=0, stop=25, step=1),
 Index(['Emp_Id', 'Emp_Name', 'salary', 'zip', 'State', 'Mobile', 'Email'], dtype='object')]

In [12]:
employee.ndim

2

In [13]:
employee.size

175

In [14]:
employee.shape

(25, 7)

In [16]:
employee.values

array([[1, 'Ajay', 50000, 400057, 'MAHARASHTRA', 9949789567,
        'ajay.mujella@pharmaace.com'],
       [2, 'Yogesh', 40000, 400057, 'MAHARASHTRA', 8827647040,
        'yogesh.tiwari@pharmaace.com'],
       [3, 'Shivam', 62457, 411057, 'MAHARASHTRA', 7018322428,
        'shivam.sinha@pharmaace.com'],
       [4, 'Santosh', 60000, 40057, 'Madhya Pradesh', 9712945175,
        'santosh.parmar@pharmaace.com'],
       [5, 'Srinidhi', 45000, 507123, 'telangana', 9441793811,
        'srinidhi.pachipala@pharmaace.com'],
       [6, 'Lakshya', 80000, 244001, 'Kerala', 8979439160,
        'Lakshya.Agarwal@pharmaace.com'],
       [7, 'Rohit', 90000, 242424, 'TAMIL NADU', 7639042555,
        'Rohit.sivakumar@pharmaace.com'],
       [8, 'Vijay', 30000, 600078, 'TAMIL NADU', 9884196518,
        'Vijay.Mohan@pharmaace.com'],
       [9, 'Raamesh', 55000, 400057, 'MAHARASHTRA', 9876543210,
        'xyz.xyz@PharmaACE.com'],
       [10, 'Aswin', 35000, 615307, 'TAMIL NADU', 9677470437,
        'aswin.chandrasekaran@pharmaace.com'],
       [11, 'Akash', 100000, 444604, 'MAHARASHTRA', 9359784177,
        'Akash.Dighade.pharmaace.com'],
       [12, 'Dhananjay', 48000, 440017, 'MAHARASHTRA', 9172163570,
        'dn851822@gmail.com'],
       [13, 'Shivani', 66000, 829112, 'Jharkhand', 9470570124,
        'shivansi.kishor@pharmaace.com'],
       [14, ' Giridhar Naidu', 43000, 518005, 'Andhra Pradesh',
        9398091097, 'mutagiridharnaidu@gmail.com'],
       [15, 'pradeep', 78000, 502032, 'Telangana', 9948579208,
        'Pradeep.Perikala@PharmaACE.com'],
       [16, 'Satheeshkumar', 47000, 626112, 'TAMIL NADU', 7598056343,
        'Satheeshkumar.Malkaj@pharmaace.com'],
       [17, 'Vishnu', 51000, 530009, 'Andhra Pradesh', 9381432204,
        'vishnuvenkat.393@gmail.com'],
       [18, 'sainath', 73000, 585403, 'karnataka', 8884979828,
        'sainath.gadgeppa@pharmaAce.com'],
       [19, 'Tharun', 59000, 517502, 'ANDHRA PRADESH', 8919236812,
        'Tharunkumar.Galla@PharmaACE.com'],
       [20, 'dias', 41000, 680511, 'Kerala', 7558079895,
        'dias.xavy@pharmaace.com'],
       [21, 'Karan', 53300, 700023, 'WEST BENGAL', 9073111274,
        'ksksingh@gmail.com'],
       [22, 'Divyanshu', 61200, 229001, 'UTTAR PRADESH', 9382719434,
        'Divyanshu.bajpai@PharmaAce.com'],
       [23, 'Dhanush', 64300, 603501, 'TAMIL NADU', 6383632357,
        'Dhanush.Kumaran@PharmaACE.com'],
       [24, 'Saurav', 67890, 493558, 'CHHATTISGARH', 7389011591,
        'Saurav.Shukla@PharmaACE.com'],
       [25, 'Mithilesh', 52300, 274406, 'UTTAR PRADESH', 8400222042,
        'mithilesh@gmail.com']], dtype=object)

In [17]:
employee.tail(10)

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
15,16,Satheeshkumar,47000,626112,TAMIL NADU,7598056343,Satheeshkumar.Malkaj@pharmaace.com
16,17,Vishnu,51000,530009,Andhra Pradesh,9381432204,vishnuvenkat.393@gmail.com
17,18,sainath,73000,585403,karnataka,8884979828,sainath.gadgeppa@pharmaAce.com
18,19,Tharun,59000,517502,ANDHRA PRADESH,8919236812,Tharunkumar.Galla@PharmaACE.com
19,20,dias,41000,680511,Kerala,7558079895,dias.xavy@pharmaace.com
20,21,Karan,53300,700023,WEST BENGAL,9073111274,ksksingh@gmail.com
21,22,Divyanshu,61200,229001,UTTAR PRADESH,9382719434,Divyanshu.bajpai@PharmaAce.com
22,23,Dhanush,64300,603501,TAMIL NADU,6383632357,Dhanush.Kumaran@PharmaACE.com
23,24,Saurav,67890,493558,CHHATTISGARH,7389011591,Saurav.Shukla@PharmaACE.com
24,25,Mithilesh,52300,274406,UTTAR PRADESH,8400222042,mithilesh@gmail.com

In [18]:
employee.describe()

          Emp_Id        salary            zip        Mobile
count  25.000000      25.00000      25.000000  2.500000e+01
mean   13.000000   58097.88000  473360.560000  8.853074e+09
std     7.359801   16895.44741  174919.102728  1.010058e+09
min     1.000000   30000.00000   40057.000000  6.383632e+09
25%     7.000000   47000.00000  400057.000000  8.400222e+09
50%    13.000000   55000.00000  502032.000000  9.172164e+09
75%    19.000000   66000.00000  600078.000000  9.470570e+09
max    25.000000  100000.00000  829112.000000  9.949790e+09

In [19]:
employee.max()

Emp_Id                               25
Emp_Name                        sainath
salary                           100000
zip                              829112
State                         telangana
Mobile                       9949789567
Email       yogesh.tiwari@pharmaace.com
dtype: object

In [20]:
employee.min()

Emp_Id                                1
Emp_Name                 Giridhar Naidu
salary                            30000
zip                               40057
State                    ANDHRA PRADESH
Mobile                       6383632357
Email       Akash.Dighade.pharmaace.com
dtype: object

In [21]:
employee.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Emp_Id    1.300000e+01
salary    5.809788e+04
zip       4.733606e+05
Mobile    8.853074e+09
dtype: float64

In [22]:
employee.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Emp_Id    1.300000e+01
salary    5.500000e+04
zip       5.020320e+05
Mobile    9.172164e+09
dtype: float64

In [24]:
employee.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Emp_Id    7.359801e+00
salary    1.689545e+04
zip       1.749191e+05
Mobile    1.010058e+09
dtype: float64

In [26]:
employee.sample(5)

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
1,2,Yogesh,40000,400057,MAHARASHTRA,8827647040,yogesh.tiwari@pharmaace.com
17,18,sainath,73000,585403,karnataka,8884979828,sainath.gadgeppa@pharmaAce.com
14,15,pradeep,78000,502032,Telangana,9948579208,Pradeep.Perikala@PharmaACE.com
20,21,Karan,53300,700023,WEST BENGAL,9073111274,ksksingh@gmail.com
22,23,Dhanush,64300,603501,TAMIL NADU,6383632357,Dhanush.Kumaran@PharmaACE.com

In [27]:
employee.dropna()

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
0,1,Ajay,50000,400057,MAHARASHTRA,9949789567,ajay.mujella@pharmaace.com
1,2,Yogesh,40000,400057,MAHARASHTRA,8827647040,yogesh.tiwari@pharmaace.com
2,3,Shivam,62457,411057,MAHARASHTRA,7018322428,shivam.sinha@pharmaace.com
3,4,Santosh,60000,40057,Madhya Pradesh,9712945175,santosh.parmar@pharmaace.com
4,5,Srinidhi,45000,507123,telangana,9441793811,srinidhi.pachipala@pharmaace.com
5,6,Lakshya,80000,244001,Kerala,8979439160,Lakshya.Agarwal@pharmaace.com
6,7,Rohit,90000,242424,TAMIL NADU,7639042555,Rohit.sivakumar@pharmaace.com
7,8,Vijay,30000,600078,TAMIL NADU,9884196518,Vijay.Mohan@pharmaace.com
8,9,Raamesh,55000,400057,MAHARASHTRA,9876543210,xyz.xyz@PharmaACE.com
9,10,Aswin,35000,615307,TAMIL NADU,9677470437,aswin.chandrasekaran@pharmaace.com
10,11,Akash,100000,444604,MAHARASHTRA,9359784177,Akash.Dighade.pharmaace.com
11,12,Dhananjay,48000,440017,MAHARASHTRA,9172163570,dn851822@gmail.com
12,13,Shivani,66000,829112,Jharkhand,9470570124,shivansi.kishor@pharmaace.com
13,14,Giridhar Naidu,43000,518005,Andhra Pradesh,9398091097,mutagiridharnaidu@gmail.com
14,15,pradeep,78000,502032,Telangana,9948579208,Pradeep.Perikala@PharmaACE.com
15,16,Satheeshkumar,47000,626112,TAMIL NADU,7598056343,Satheeshkumar.Malkaj@pharmaace.com
16,17,Vishnu,51000,530009,Andhra Pradesh,9381432204,vishnuvenkat.393@gmail.com
17,18,sainath,73000,585403,karnataka,8884979828,sainath.gadgeppa@pharmaAce.com
18,19,Tharun,59000,517502,ANDHRA PRADESH,8919236812,Tharunkumar.Galla@PharmaACE.com
19,20,dias,41000,680511,Kerala,7558079895,dias.xavy@pharmaace.com
20,21,Karan,53300,700023,WEST BENGAL,9073111274,ksksingh@gmail.com
21,22,Divyanshu,61200,229001,UTTAR PRADESH,9382719434,Divyanshu.bajpai@PharmaAce.com
22,23,Dhanush,64300,603501,TAMIL NADU,6383632357,Dhanush.Kumaran@PharmaACE.com
23,24,Saurav,67890,493558,CHHATTISGARH,7389011591,Saurav.Shukla@PharmaACE.com
24,25,Mithilesh,52300,274406,UTTAR PRADESH,8400222042,mithilesh@gmail.com

In [29]:
employee['salary']

0      50000
1      40000
2      62457
3      60000
4      45000
5      80000
6      90000
7      30000
8      55000
9      35000
10    100000
11     48000
12     66000
13     43000
14     78000
15     47000
16     51000
17     73000
18     59000
19     41000
20     53300
21     61200
22     64300
23     67890
24     52300
Name: salary, dtype: int64

In [30]:
employee.salary

0      50000
1      40000
2      62457
3      60000
4      45000
5      80000
6      90000
7      30000
8      55000
9      35000
10    100000
11     48000
12     66000
13     43000
14     78000
15     47000
16     51000
17     73000
18     59000
19     41000
20     53300
21     61200
22     64300
23     67890
24     52300
Name: salary, dtype: int64

In [33]:
employee[employee['salary']>50000]

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
2,3,Shivam,62457,411057,MAHARASHTRA,7018322428,shivam.sinha@pharmaace.com
3,4,Santosh,60000,40057,Madhya Pradesh,9712945175,santosh.parmar@pharmaace.com
5,6,Lakshya,80000,244001,Kerala,8979439160,Lakshya.Agarwal@pharmaace.com
6,7,Rohit,90000,242424,TAMIL NADU,7639042555,Rohit.sivakumar@pharmaace.com
8,9,Raamesh,55000,400057,MAHARASHTRA,9876543210,xyz.xyz@PharmaACE.com
10,11,Akash,100000,444604,MAHARASHTRA,9359784177,Akash.Dighade.pharmaace.com
12,13,Shivani,66000,829112,Jharkhand,9470570124,shivansi.kishor@pharmaace.com
14,15,pradeep,78000,502032,Telangana,9948579208,Pradeep.Perikala@PharmaACE.com
16,17,Vishnu,51000,530009,Andhra Pradesh,9381432204,vishnuvenkat.393@gmail.com
17,18,sainath,73000,585403,karnataka,8884979828,sainath.gadgeppa@pharmaAce.com
18,19,Tharun,59000,517502,ANDHRA PRADESH,8919236812,Tharunkumar.Galla@PharmaACE.com
20,21,Karan,53300,700023,WEST BENGAL,9073111274,ksksingh@gmail.com
21,22,Divyanshu,61200,229001,UTTAR PRADESH,9382719434,Divyanshu.bajpai@PharmaAce.com
22,23,Dhanush,64300,603501,TAMIL NADU,6383632357,Dhanush.Kumaran@PharmaACE.com
23,24,Saurav,67890,493558,CHHATTISGARH,7389011591,Saurav.Shukla@PharmaACE.com
24,25,Mithilesh,52300,274406,UTTAR PRADESH,8400222042,mithilesh@gmail.com

In [39]:
employee[(employee['State']=='MAHARASHTRA') & (employee['salary']>50000)]

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
2,3,Shivam,62457,411057,MAHARASHTRA,7018322428,shivam.sinha@pharmaace.com
8,9,Raamesh,55000,400057,MAHARASHTRA,9876543210,xyz.xyz@PharmaACE.com
10,11,Akash,100000,444604,MAHARASHTRA,9359784177,Akash.Dighade.pharmaace.com

In [40]:
employee[['salary','State']]

    salary           State
0    50000     MAHARASHTRA
1    40000     MAHARASHTRA
2    62457     MAHARASHTRA
3    60000  Madhya Pradesh
4    45000       telangana
5    80000          Kerala
6    90000      TAMIL NADU
7    30000      TAMIL NADU
8    55000     MAHARASHTRA
9    35000      TAMIL NADU
10  100000     MAHARASHTRA
11   48000     MAHARASHTRA
12   66000       Jharkhand
13   43000  Andhra Pradesh
14   78000       Telangana
15   47000      TAMIL NADU
16   51000  Andhra Pradesh
17   73000       karnataka
18   59000  ANDHRA PRADESH
19   41000          Kerala
20   53300     WEST BENGAL
21   61200   UTTAR PRADESH
22   64300      TAMIL NADU
23   67890    CHHATTISGARH
24   52300   UTTAR PRADESH

In [41]:
employee[0:10]

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
0,1,Ajay,50000,400057,MAHARASHTRA,9949789567,ajay.mujella@pharmaace.com
1,2,Yogesh,40000,400057,MAHARASHTRA,8827647040,yogesh.tiwari@pharmaace.com
2,3,Shivam,62457,411057,MAHARASHTRA,7018322428,shivam.sinha@pharmaace.com
3,4,Santosh,60000,40057,Madhya Pradesh,9712945175,santosh.parmar@pharmaace.com
4,5,Srinidhi,45000,507123,telangana,9441793811,srinidhi.pachipala@pharmaace.com
5,6,Lakshya,80000,244001,Kerala,8979439160,Lakshya.Agarwal@pharmaace.com
6,7,Rohit,90000,242424,TAMIL NADU,7639042555,Rohit.sivakumar@pharmaace.com
7,8,Vijay,30000,600078,TAMIL NADU,9884196518,Vijay.Mohan@pharmaace.com
8,9,Raamesh,55000,400057,MAHARASHTRA,9876543210,xyz.xyz@PharmaACE.com
9,10,Aswin,35000,615307,TAMIL NADU,9677470437,aswin.chandrasekaran@pharmaace.com

In [44]:
employee.loc[0:10,['State','salary']]

             State  salary
0      MAHARASHTRA   50000
1      MAHARASHTRA   40000
2      MAHARASHTRA   62457
3   Madhya Pradesh   60000
4        telangana   45000
5           Kerala   80000
6       TAMIL NADU   90000
7       TAMIL NADU   30000
8      MAHARASHTRA   55000
9       TAMIL NADU   35000
10     MAHARASHTRA  100000

In [46]:
employee.iloc[0:10,[0,1,2]]

   Emp_Id  Emp_Name  salary
0       1      Ajay   50000
1       2    Yogesh   40000
2       3    Shivam   62457
3       4   Santosh   60000
4       5  Srinidhi   45000
5       6   Lakshya   80000
6       7     Rohit   90000
7       8     Vijay   30000
8       9   Raamesh   55000
9      10     Aswin   35000

In [49]:
employee.sort_values(by=['State','salary'],ascending=[True,False])

,Emp_Id,Emp_Name,salary,zip,State,Mobile,Email
18,19,Tharun,59000,517502,ANDHRA PRADESH,8919236812,Tharunkumar.Galla@PharmaACE.com
16,17,Vishnu,51000,530009,Andhra Pradesh,9381432204,vishnuvenkat.393@gmail.com
13,14,Giridhar Naidu,43000,518005,Andhra Pradesh,9398091097,mutagiridharnaidu@gmail.com
23,24,Saurav,67890,493558,CHHATTISGARH,7389011591,Saurav.Shukla@PharmaACE.com
12,13,Shivani,66000,829112,Jharkhand,9470570124,shivansi.kishor@pharmaace.com
5,6,Lakshya,80000,244001,Kerala,8979439160,Lakshya.Agarwal@pharmaace.com
19,20,dias,41000,680511,Kerala,7558079895,dias.xavy@pharmaace.com
10,11,Akash,100000,444604,MAHARASHTRA,9359784177,Akash.Dighade.pharmaace.com
2,3,Shivam,62457,411057,MAHARASHTRA,7018322428,shivam.sinha@pharmaace.com
8,9,Raamesh,55000,400057,MAHARASHTRA,9876543210,xyz.xyz@PharmaACE.com
0,1,Ajay,50000,400057,MAHARASHTRA,9949789567,ajay.mujella@pharmaace.com
11,12,Dhananjay,48000,440017,MAHARASHTRA,9172163570,dn851822@gmail.com
1,2,Yogesh,40000,400057,MAHARASHTRA,8827647040,yogesh.tiwari@pharmaace.com
3,4,Santosh,60000,40057,Madhya Pradesh,9712945175,santosh.parmar@pharmaace.com
6,7,Rohit,90000,242424,TAMIL NADU,7639042555,Rohit.sivakumar@pharmaace.com
22,23,Dhanush,64300,603501,TAMIL NADU,6383632357,Dhanush.Kumaran@PharmaACE.com
15,16,Satheeshkumar,47000,626112,TAMIL NADU,7598056343,Satheeshkumar.Malkaj@pharmaace.com
9,10,Aswin,35000,615307,TAMIL NADU,9677470437,aswin.chandrasekaran@pharmaace.com
7,8,Vijay,30000,600078,TAMIL NADU,9884196518,Vijay.Mohan@pharmaace.com
14,15,pradeep,78000,502032,Telangana,9948579208,Pradeep.Perikala@PharmaACE.com
21,22,Divyanshu,61200,229001,UTTAR PRADESH,9382719434,Divyanshu.bajpai@PharmaAce.com
24,25,Mithilesh,52300,274406,UTTAR PRADESH,8400222042,mithilesh@gmail.com
20,21,Karan,53300,700023,WEST BENGAL,9073111274,ksksingh@gmail.com
17,18,sainath,73000,585403,karnataka,8884979828,sainath.gadgeppa@pharmaAce.com
4,5,Srinidhi,45000,507123,telangana,9441793811,srinidhi.pachipala@pharmaace.com